CODE/XML/order.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ship_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="person"/>
        <xs:element name="shipt_to">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="notes" minOccurs="0"/>
                    <xs:element type="xs:byte" name="quantity"/>
                    <xs:element type="xs:float" name="price"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

<ship_order id="889923">
    <person>
        Jhon Smith
    </person>
    <shipt_to>
        <name>Nordmann</name>
        <address>Langgt 23</address>
        <city>4000 Savagner</city>
        <country>Norway</country>
    </shipt_to>
    <items>
        <item>
            <title>Empire Burlesque</title>
            <notes>Special Edition</notes>
            <quantity>1</quantity>
            <price>10.90</price>
        </item>
        <item>
            <title>Hide your heart</title>
            <quantity>1</quantity>
            <price>9.90</price>
        </item>
    </items>
</ship_order>