CODE/XML/rubrica.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rubrica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contatto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="cognome" type="xs:string" />
                            <xs:element name="telefono" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>


<rubrica>
    <contatto>
        <nome>Marco</nome>
        <cognome>Verdi</cognome>
        <telefono>1234567890</telefono>
        <email>marcoverdi@gmail.com</email>
    </contatto>
    <contatto>
        <nome>Luca</nome>
        <cognome>Bianchi</cognome>
        <telefono>0987654321</telefono>
        <email>
        lucabianchi@gmail.com
        <email>
    </contatto>
</rubrica>